@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700|Ubuntu:400,500,500i&subset=latin-ext");
@import "css-reset-and-normalize";

@import "./variables.scss";
@import "./base.scss";
@import "./header.scss";

form {
  &.find-city {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    input {
      border: 1px solid #eaeaea;
      border-radius: 8px;
      padding: 6px;
      font-size: 0.8rem;
      outline: none;
      color: #333;
      width: 90%;

      &::placeholder {
        font-family: "Lato", sans-serif;
      }
    }

    #search:focus~.autocomplete,
    #search:active~.autocomplete {
      visibility: visible;
      margin-top: -5px;
    }

    #search:not(focus)~.autocomplete {
      transition-delay: 0.3s;
      visibility: hidden;
    }

    .autocomplete {
      width: 90%;
      border: 1px solid #eaeaea;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 0.8rem;
      outline: none;
      padding: 6px;
      font-size: 0.8rem;
      color: #333333a4;
      background: white;
      border-top: transparent;
      font-style: italic;
      z-index: 3;
    }

    .cityList {
      list-style: none;

      &>li {
        padding: 3px 0;
      }

      &>li:hover {
        // background: #ececec;
        background: $baseYellow;
        opacity: 0.8;
        cursor: pointer;
      }
    }

    button {
      background: transparent;
      cursor: pointer;
      box-shadow: none;
      border: none;
      color: #ffc200;
      outline: none;
    }
  }
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  filter: $blur;
  // border: 1px solid red;

  &__icon {
    max-width: 120px;
    font-size: 12px;

    img {
      width: 100px;
      margin-bottom: 15px;
    }

    &__icon__description {
      text-align: center;
      // word-wrap: break-word;
    }
  }

  &__info {
    font-family: "Ubuntu", sans-serif;
    // border: 1px solid blue;


    .city {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.8rem;
      color: #333;
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
      max-width: 13rem;
    }

    .timezone {
      font-family: "Ubuntu", sans-serif;
      font-size: 0.8rem;
      color: #333;
      text-indent: 0.5rem;
      font-style: italic;
      margin-bottom: 0.3rem;
    }

    .temperature {
      font-family: "Ubuntu", sans-serif;
      font-size: 3rem;
      color: #333030;
      font-weight: 500;
    }

    .temperature__feel {
      margin: 0.3rem 0 0 0.7rem;
      font-family: "Ubuntu", sans-serif;
      font-size: 1rem;
      color: #333030;
      font-weight: 500;
    }

    .temperature__description {
      margin-right: 0.3rem;
      font-family: "Ubuntu", sans-serif;
      font-size: 1rem;
      color: #222020;
      font-weight: 500;
    }
  }

  &__data {
    display: flex;
    align-items: baseline;
    justify-content: center;
    max-width: 50%;
    height: 160px;
    // border: 1px solid black;

    .sunrise,
    .sunset,
    .humidity,
    .pressure,
    .windSpeed,
    .cloudCover,
    .visibility {
      display: flex;
      align-items: center;
      justify-content: left;
      max-width: 100%;
      min-height: 33px;
      padding: 5px;
      margin: 5px 0;
      // border: 1px solid #585858;
      font-size: 0.8rem;
      color: #333;
    }

    &__left,
    &__right {
      height: 100%;
      margin: 0 5px;

      img {
        width: 2rem;
      }

      span {
        padding: 0 3px;
        text-align: center;
      }
    }
  }

  .airQuality {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 160px;
    border-radius: 10px;
    font-size: 0.8rem;
    // overflow: hidden;
  }

  .pm1,
  .pm25,
  .pm10 {
    padding: 10px 5px;
    border-radius: 10px;
    margin: 8px 0;
    text-align: center;
    min-width: 45px;

    &__icon {
      color: black;
      text-align: center;
      margin: 3px 0;
    }

    &__value {
      font-weight: bold;
      text-align: center;
    }

  }
}